my css now @import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
  background-color: white;
  padding-left: 20px;
}

/* ======================== CSS Rule #2 */
h1 {
  font-family: "Poetsen One", sans-serif;
}

.memory {
  margin-bottom: 20px;
  padding-left: 10px;
  border-left: 5px solid #7cc6fe;
} 

.highlight {
  background-color: rgb(204, 239, 234);
  transform: scale(1.05);
  transition: 0.3s;
}

img {
  display: none;
}